.container{
    display: flex;
    border: 1px solid #000;
    width: 320px;
    height: 400px;
    flex-direction: column;
    margin: auto;
}

.caixa{
    height: 40;
}
#button{
    height: 40px;
    background-color: #E6E6FA;
    color: #D8BFD8;
}